jupyterlab
csvkit
geopandas
psycopg2-binary
pymongo
requests
folium
matplotlib
descartes
pysal
tensorflow
keras
pydot-ng
opencv-python
beautifulsoup4
nltk
boto3
python-dotenv
graphqlclient
dash
jupyter-dash
